In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("stock.csv", na_values=["-"])
print(df.head())

   Unnamed: 0  No. Ticker                Company                  Sector  \
0           0    1   AAPL             Apple Inc.              Technology
1           1    2   MSFT  Microsoft Corporation              Technology
2           2    3  GOOGL          Alphabet Inc.  Communication Services
3           3    4   GOOG          Alphabet Inc.  Communication Services
4           4    5   AMZN       Amazon.com, Inc.       Consumer Cyclical

                         Industry Country               Index Market Cap  \
0            Consumer Electronics     USA  DJIA, NDX, S&P 500   2455.34B
1       Software - Infrastructure     USA  DJIA, NDX, S&P 500   2008.73B
2  Internet Content & Information     USA        NDX, S&P 500   1250.04B
3  Internet Content & Information     USA        NDX, S&P 500   1241.53B
4                 Internet Retail     USA        NDX, S&P 500   1043.30B

     P/E  ...  Recom  Avg Volume  Rel Volume    Volume  Target Price  \
0  26.39  ...    2.0      75.84M        0.86  65514009        169.16
1  29.94  ...    1.8      30.76M        0.92  28366019        284.73
2  21.60  ...    1.8      35.32M        1.42  50075943        125.44
3  21.43  ...    1.5      28.18M        1.31  36924602        123.80
4    NaN  ...    1.8      77.40M        0.62  47831116        136.26

   Prev Close   Price  Change  AH Close AH Change
0      153.20  155.33   1.39%       NaN       NaN
1      272.17  269.32  -1.05%       NaN       NaN
2       94.68   96.94   2.39%       NaN       NaN
3       94.95   97.10   2.26%       NaN       NaN
4       99.70  101.16   1.46%       NaN       NaN

[5 rows x 86 columns]

In [3]:
df=df.drop(columns=df.columns[0:2],axis=1)
print(df.columns[0:10])

Index(['Ticker', 'Company', 'Sector', 'Industry', 'Country', 'Index',
       'Market Cap', 'P/E', 'Fwd P/E', 'PEG'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768 entries, 0 to 1767
Data columns (total 84 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ticker          1768 non-null   object
 1   Company         1768 non-null   object
 2   Sector          1768 non-null   object
 3   Industry        1768 non-null   object
 4   Country         1768 non-null   object
 5   Index           174 non-null    object
 6   Market Cap      1768 non-null   object
 7   P/E             1055 non-null   float64
 8   Fwd P/E         1087 non-null   float64
 9   PEG             692 non-null    float64
 10  P/S             1585 non-null   float64
 11  P/B             1642 non-null   float64
 12  P/C             1596 non-null   float64
 13  P/FCF           829 non-null    float64
 14  Book/sh         1753 non-null   float64
 15  Cash/sh         1613 non-null   float64
 16  Dividend        586 non-null    float64
 17  Dividend.1      586 non-null    object
 18  Payout Ratio    520 non-null    object
 19  EPS             1745 non-null   float64
 20  EPS next Q      1539 non-null   float64
 21  EPS this Y      1625 non-null   object
 22  EPS next Y      1547 non-null   object
 23  EPS past 5Y     1250 non-null   object
 24  EPS next 5Y     1019 non-null   object
 25  Sales past 5Y   1163 non-null   object
 26  Sales Q/Q       1552 non-null   object
 27  EPS Q/Q         1657 non-null   object
 28  Sales           1598 non-null   object
 29  Income          1650 non-null   object
 30  Outstanding     1768 non-null   object
 31  Float           1759 non-null   object
 32  Insider Own     1650 non-null   object
 33  Insider Trans   1631 non-null   object
 34  Inst Own        1557 non-null   object
 35  Inst Trans      1638 non-null   object
 36  Float Short     1755 non-null   object
 37  Short Ratio     1764 non-null   float64
 38  Short Interest  1764 non-null   object
 39  ROA             1616 non-null   object
 40  ROE             1603 non-null   object
 41  ROI             1483 non-null   object
 42  Curr R          1397 non-null   float64
 43  Quick R         1385 non-null   float64
 44  LTDebt/Eq       1574 non-null   float64
 45  Debt/Eq         1574 non-null   float64
 46  Gross M         1160 non-null   object
 47  Oper M          1273 non-null   object
 48  Profit M        1279 non-null   object
 49  Perf Week       1765 non-null   object
 50  Perf Month      1764 non-null   object
 51  Perf Quart      1760 non-null   object
 52  Perf Half       1753 non-null   object
 53  Perf Year       1726 non-null   object
 54  Perf YTD        1768 non-null   object
 55  Beta            1263 non-null   float64
 56  ATR             1768 non-null   float64
 57  Volatility W    1765 non-null   object
 58  Volatility M    1764 non-null   object
 59  SMA20           1768 non-null   object
 60  SMA50           1768 non-null   object
 61  SMA200          1768 non-null   object
 62  50D High        1768 non-null   object
 63  50D Low         1768 non-null   object
 64  52W High        1768 non-null   object
 65  52W Low         1768 non-null   object
 66  RSI             1763 non-null   float64
 67  Earnings        1404 non-null   object
 68  IPO Date        1768 non-null   object
 69  Optionable      1768 non-null   object
 70  Shortable       1768 non-null   object
 71  Employees       1637 non-null   float64
 72  from Open       1768 non-null   object
 73  Gap             1768 non-null   object
 74  Recom           1566 non-null   float64
 75  Avg Volume      1768 non-null   object
 76  Rel Volume      1768 non-null   float64
 77  Volume          1768 non-null   int64
 78  Target Price    1587 non-null   float64
 79  Prev Close      1768 non-null   float64
 80  Price           1768 non-null   float64
 81  Change          1768 non-null   object
 82  AH Close        0 non-null      float64
 83  AH Change       0 non-null      float64
dtypes: float64(28), int64(1), object(55)
memory usage: 1.1+ MB

In [5]:
# Defining list of the columns of each type:

float_list= ["P/E", "Fwd P/E", "PEG", "P/S", "P/B", "P/C", "P/FCF","Book/sh", "Cash/sh", "Dividend", "EPS", "EPS next Q", "Sales Q/Q"
,"Short Ratio", "Curr R", "Quick R","LTDebt/Eq","Debt/Eq","Perf Week","Perf Month","Perf YTD","Beta","ATR","Volatility W",
"Volatility M","SMA20","SMA50","SMA200","50D High","50D Low","52W Low","RSI","from Open","Gap","Recom","Rel Volume",
"Target Price", "Prev Close", "Price","Change"]

Percent_float_list=["Dividend.1","Payout Ratio", "EPS this Y","EPS next Y", "EPS past 5Y", "EPS next 5Y", "Sales past 5Y"
,"EPS Q/Q", "Insider Own", "Insider Trans", "Inst Own","Inst Trans", "Float Short", "ROA", "ROE", "ROI", "Gross M",
"Oper M", "Profit M", "Perf Quart", "Perf Half", "Perf Year","Sales Q/Q","Perf Week","Perf Month","Perf YTD",
"Volatility W","Volatility M","SMA20","SMA50","SMA200","50D High","50D Low","52W Low","52W High","from Open","Gap","Change"]

categorical_list= ["Sector", "Industry", "Country", "Index"]

boolean_list=["Shortable","Optionable"]

integer_list=["Employees", "Volume"]

floatMB_list= ["Market Cap", "Sales", "Income", "Outstanding",
"Float", "Short Interest", "Avg Volume"]

remove_columns=["AH Close", "AH Change"]

In [6]:
df=df.drop(columns=remove_columns,axis=1)

In [7]:
for i in Percent_float_list:
    df[i]=df[i].str.rstrip("%")
    df[i]=df[i].astype('float')/100

In [8]:
for i in floatMB_list:
    df[i]=df[i].str.rstrip("MKB")
    df[i]=df[i].astype('float')

In [9]:
for i in boolean_list:
    df[i]=df[i].map({'Yes': True, 'No': False})

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1768 entries, 0 to 1767
Data columns (total 82 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ticker          1768 non-null   object
 1   Company         1768 non-null   object
 2   Sector          1768 non-null   object
 3   Industry        1768 non-null   object
 4   Country         1768 non-null   object
 5   Index           174 non-null    object
 6   Market Cap      1768 non-null   float64
 7   P/E             1055 non-null   float64
 8   Fwd P/E         1087 non-null   float64
 9   PEG             692 non-null    float64
 10  P/S             1585 non-null   float64
 11  P/B             1642 non-null   float64
 12  P/C             1596 non-null   float64
 13  P/FCF           829 non-null    float64
 14  Book/sh         1753 non-null   float64
 15  Cash/sh         1613 non-null   float64
 16  Dividend        586 non-null    float64
 17  Dividend.1      586 non-null    float64
 18  Payout Ratio    520 non-null    float64
 19  EPS             1745 non-null   float64
 20  EPS next Q      1539 non-null   float64
 21  EPS this Y      1625 non-null   float64
 22  EPS next Y      1547 non-null   float64
 23  EPS past 5Y     1250 non-null   float64
 24  EPS next 5Y     1019 non-null   float64
 25  Sales past 5Y   1163 non-null   float64
 26  Sales Q/Q       1552 non-null   float64
 27  EPS Q/Q         1657 non-null   float64
 28  Sales           1598 non-null   float64
 29  Income          1650 non-null   float64
 30  Outstanding     1768 non-null   float64
 31  Float           1759 non-null   float64
 32  Insider Own     1650 non-null   float64
 33  Insider Trans   1631 non-null   float64
 34  Inst Own        1557 non-null   float64
 35  Inst Trans      1638 non-null   float64
 36  Float Short     1755 non-null   float64
 37  Short Ratio     1764 non-null   float64
 38  Short Interest  1764 non-null   float64
 39  ROA             1616 non-null   float64
 40  ROE             1603 non-null   float64
 41  ROI             1483 non-null   float64
 42  Curr R          1397 non-null   float64
 43  Quick R         1385 non-null   float64
 44  LTDebt/Eq       1574 non-null   float64
 45  Debt/Eq         1574 non-null   float64
 46  Gross M         1160 non-null   float64
 47  Oper M          1273 non-null   float64
 48  Profit M        1279 non-null   float64
 49  Perf Week       1765 non-null   float64
 50  Perf Month      1764 non-null   float64
 51  Perf Quart      1760 non-null   float64
 52  Perf Half       1753 non-null   float64
 53  Perf Year       1726 non-null   float64
 54  Perf YTD        1768 non-null   float64
 55  Beta            1263 non-null   float64
 56  ATR             1768 non-null   float64
 57  Volatility W    1765 non-null   float64
 58  Volatility M    1764 non-null   float64
 59  SMA20           1768 non-null   float64
 60  SMA50           1768 non-null   float64
 61  SMA200          1768 non-null   float64
 62  50D High        1768 non-null   float64
 63  50D Low         1768 non-null   float64
 64  52W High        1768 non-null   float64
 65  52W Low         1768 non-null   float64
 66  RSI             1763 non-null   float64
 67  Earnings        1404 non-null   object
 68  IPO Date        1768 non-null   object
 69  Optionable      1768 non-null   bool
 70  Shortable       1768 non-null   bool
 71  Employees       1637 non-null   float64
 72  from Open       1768 non-null   float64
 73  Gap             1768 non-null   float64
 74  Recom           1566 non-null   float64
 75  Avg Volume      1768 non-null   float64
 76  Rel Volume      1768 non-null   float64
 77  Volume          1768 non-null   int64
 78  Target Price    1587 non-null   float64
 79  Prev Close      1768 non-null   float64
 80  Price           1768 non-null   float64
 81  Change          1768 non-null   float64
dtypes: bool(2), float64(71), int64(1), object(8)
memory usage: 1.1+ MB

In [13]:
df[['Dividend',"Dividend.1"]].fillna(0)

      Dividend  Dividend.1
0         0.92      0.0059
1         2.72      0.0101
2         0.00      0.0000
3         0.00      0.0000
4         0.00      0.0000
...        ...         ...
1763      0.00      0.0000
1764      0.00      0.0000
1765      0.00      0.0000
1766      0.24      0.0113
1767      0.00      0.0000

[1768 rows x 2 columns]

In [14]:
df.to_csv('FinvizData.csv')